{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}

{% block content %}
<article class="post-full">
  <h1>{{ page.title }}</h1>
  <time datetime="{{ page.date }}">{{ page.date }}</time>
  {% if page.taxonomies.tags %}
  <p class="tags">
    {% for tag in page.taxonomies.tags %}
    <a href="{{ get_url(path="/tags/" ~ tag | lower) | safe }}">#{{ tag }}</a>
    {% endfor %}
  </p>
  {% endif %}
  <div class="content">
    {{ page.content | safe }}
  </div>
</article>
{% endblock content %}
